.grid-container {
    border-color: black;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 20px;
}

.grid-container>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    background-color: rgb(18, 98, 109);
    border-radius: 20px;
}

.item1 {
    grid-column: span 1;
    grid-row: span 1;
}

.item2 {
    grid-column: span 2;
    grid-row: span 1;
}

.item3 {
    grid-column: span 4;
    grid-row: span 1;
}

.item4 {
    grid-column: span 6;
    grid-row: span 1;
}

@media only screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(96, 1fr);
    }
    .item1 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .item2 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .item3 {
        grid-column: span 1;
        grid-row: span 1;
    }
    .item4 {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media only screen and (min-device-width: 481px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(48, 1fr);
    }
    .item1 {
        grid-column: span 2;
        grid-row: span 1;
    }
    .item2 {
        grid-column: span 2;
        grid-row: span 1;
    }
    .item3 {
        grid-column: span 2;
        grid-row: span 1;
    }
    .item4 {
        grid-column: span 2;
        grid-row: span 1;
    }
}